streamlit
python-dotenv
httpx
nest_asyncio
pandas
tqdm
sentence-transformers
pinecone
langchain
langchain-core
langchain-community
langchain-openai
langchain_google_genai
langsmith
langgraph
